{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure            {:mvn/version "1.12.1"}
  clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
  environ/environ                {:mvn/version "1.2.0"}
  buddy/buddy-hashers            {:mvn/version "2.0.167"}
  ring/ring-jetty-adapter        {:mvn/version "1.14.2"}
  ring/ring-defaults             {:mvn/version "0.6.0"}
  metosin/reitit-ring            {:mvn/version "0.9.1"}
  hiccup/hiccup                  {:mvn/version "2.0.0"}
  hato/hato                      {:mvn/version "1.0.0"}
  ;; log
  org.slf4j/slf4j-simple         {:mvn/version "2.0.17"}
  com.taoensso/telemere          {:mvn/version "1.0.1"}
  ;; Database
  datascript/datascript          {:mvn/version "1.7.5"}
  io.github.tonsky/datascript-storage-sql {:mvn/version "2.1.0"}
  org.xerial/sqlite-jdbc         {:mvn/version "3.50.3.0"}
  com.taoensso/carmine           {:mvn/version "3.4.1"}
  com.github.igrishaev/pg2-core  {:mvn/version "0.1.40"}}

 :aliases
 {:neil   {:project {:name hkimjp/konpy}}}}
