[Unit]
Description=This week's Python assignments.

[Service]
User=ubuntu
Type=simple
WorkingDirectory=/home/ubuntu/konpy
EnvironmentFile=/etc/default/konpy.env
ExecStart=/bin/sh start.sh
ExecStop=/bin/sh stop.sh

[Install]
WantedBy=multi-user.target
